@font-face {
  src: url("fonts/boon-300.woff") format("woff");
  font-family: "Boon-0.6";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("fonts/boon-300-oblique.woff") format("woff");
  font-family: "Boon-0.6";
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url("fonts/boon-400.woff") format("woff");
  font-family: "Boon-0.6";
  font-style: normal;
  font-weight: bold;
}

@font-face {
  src: url("fonts/boon-400-oblique.woff") format("woff");
  font-family: "Boon-0.6";
  font-style: italic;
  font-weight: bold;
}

@font-face {
  src: url("fonts/EDPenSook-NormalTone.ttf") format("ttf");
  font-family: "EDPenSook";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("fonts/EDPenSook-NormalToneBold.ttf") format("ttf");
  font-family: "EDPenSook";
  font-style: normal;
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6, ul, li {
  padding: 0;
  margin: 0;
  font-weight:normal;
}

ol {
  padding:0;
  > li {
    margin-left:28px;
    list-style-type:decimal;
    padding:4px 0;
  }
}


h1 {
  font-family: "Boon-0.6";
  font-size:28px;
  line-height:40px;
  height:32px;
  font-weight:bold;
}
h2 {
  font-family: "Boon-0.6";
  font-size:24px;
  line-height:40px;
  height:32px;
  font-weight:bold;
}

ul, li {
  list-style-type:none;
}
a {
  text-decoration:none;
}
hr {
  box-sizing: content-box;
  height: 0;
  border: none;
  border-bottom: #F7F7F7 solid 2px;
  margin: 10px 9px;
}

body, input, textarea, select, button, a {
  //font-family: "Boon-0.6";
  font-family: "Segoe UI", Tahoma;
  font-size:14px;
  line-height:14px;
  color:#333;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  transition: all 0.5s;
}
::-webkit-scrollbar-track {
  /*
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  */
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  width:2px;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}

.heading {
//  font-family: 'EDPenSook';
}
