// setting/role/{id}

.module-permission {
  > li {
    .module-name {
      font-weight: bold;
      background-color:rgba(240,240,240,0.8);
    }
    > ul {
      flex-wrap: wrap;
      > li {
        width: 368px;
      }
    }
  }
}

.grant-table {
  > li {
    .header {
      font-weight: bold;
      background-color:rgba(240,240,240,0.8);
    }
    > ul {
      flex-wrap: wrap;
      > li {
        width: 176px;
      }
    }
  }
}
